ansible==9.7.0
ansible-compat==24.10.0
ansible-core==2.18.1
docker==7.1.0
molecule==6.0.3
molecule-docker==2.1.0
molecule-plugins==23.5.3
netaddr==1.3.0
pytest==8.3.3
pytest-testinfra==10.1.1
testinfra==6.0.0
