---
# description: RedHat specific installation

- name: "Add yum repository | RedHat"
  yum_repository:
    name: influxdb
    description: InfluxDB Repository - RHEL $releasever
    baseurl: "https://repos.influxdata.com/rhel/{{ telegraf_redhat_releasever }}/$basearch/stable"
    gpgcheck: yes
    gpgkey: https://repos.influxdata.com/influxdb.key

- name: "Install telegraf package | RedHat"
  yum:
    name: "telegraf-{{ telegraf_agent_version }}"
    state: installed
  notify: "Restart Telegraf"
